# torwatchdog.conf.example
# example configuration for torwatchdog

[General]

# log file
log_file=/var/opt/log/watchdog.log

# log level
log_level=info

# Tor cache directory
cache_dir=/tmp/torwatchdog/cache

# url is the url that the watchdog checks
url=

# SOCKS port, Tor will listen on this port
socks_port=7000

# average delay between checks, in seconds
avg_delay=300

# subject line, an arbitary string. subject lines are not encrypted
subject=
