debian/debhelper-build-stamp
debian/files
debian/tmp
debian/torwatchdog.debhelper.log
debian/torwatchdog.substvars
debian/torwatchdog/*
debian/tmp
src/etc/opt/torwatchdog/torwatchdog.conf
src/var/opt/log/torwatchdog.log
*.pyc
