Source: torwatchdog
Section: parkbench
Priority: required
Maintainer: eviljoel, Emily Frost
#Build-Depends:
Standards-Version: 3.9.6.1

Package: torwatchdog
Architecture: all
Depends: adduser (>= 3.11), gpgmailer (>=0.9), parkbench-common (>=0.9), python3-sdnotify, python3-socks, python3-urllib3, tor
Description: Daemon that checks URL resolution through Tor and sends encrypted notifications of resolution status changes.
