Source: torwatchdog
Section: parkbench
Priority: required
Maintainer: eviljoel, Emily Frost
#Build-Depends:
Standards-Version: 3.9.6.1

Package: torwatchdog
Architecture: all
Depends: adduser (>= 3.11), confighelper (>=0.8), gpgmailer (>=0.8), python-daemon, python-stem, python-socks, tor
Description: Daemon that checks URL resolution through Tor and sends encrypted notifications of resolution status changes.
