# torwatchdog.conf.example
# Example configuration for torwatchdog.

[General]

# Log file
log_file=/var/log/torwatchdog.log

# Log level
log_level=info

# Tor cache directory
cache_dir=/tmp/torwatchdog/cache

# The URL that torwatchdog checks
url=

# Tor will listen on this port
socks_port=7000

# Average delay between checks, in seconds
avg_delay=300

# Subject line, an arbitary string. Subject lines are not encrypted
subject=

# Comma-separated list of recipients for torwatchdog emails. Cannot be empty.
recipient_emails=

# Comma-separated list of gpg key fingerprints for recipients of torwatchdog emails. Cannot be empty.
recipient_keys=